:root {
   --color-neutral-light:#f5d3b0;
   --color-neutral-medium:#c89969;
   --color-neutral-dark:#6b4b2a;
}


body {
   background-color:#f8f8fa;
   padding-bottom:5em;
}

@media (max-width:500px) {
   :root {
      --header-height:2rem;
   }
}